<div class="dashboard">
    <!-- Time Filter -->
    <div class="filter-bar">
      <label for="filter">Select Range:</label>
      <select  (change)="onRangeChange()">
        <option value="day">Day</option>
        <option value="week">Week</option>
        <option value="month">Month</option>
        <option value="year">Year</option>
      </select>
    </div>
  
    <div class="cards">
      <div class="card">Total Sales: {{ totalSales | currency:'KWD':'symbol':'1.0-0' }}</div>
      <div class="card">Best Product: {{ bestProduct }}</div>
      <div class="card">Orders: {{ orderStatus }}</div>
      <div class="card">Visits: {{ visits }}</div>
    </div>
  </div>
