<div class="sidebar">
    <!-- Logo and Brand -->
    <div class="logo">
      <img src="assets\logo.jpeg" alt="Logo" class="h-8 w-8">
      <span>The Pink Room</span>
    </div>
  
    <!-- Navigation -->
    <nav class="list">
      <ul class="space-y-4">
        <li><a routerLink="/" routerLinkActive="active-link">Dashboard</a></li>
        <li><a routerLink="/products" routerLinkActive="active-link">Products</a></li>
        <li><a routerLink="/orders" routerLinkActive="active-link">Orders</a></li>
        <li><a routerLink="/customers"routerLinkActive="active-link" >Customers</a></li>
      </ul>
    </nav>
  </div>
  