/* customer.component.css */
.customer-list {
    list-style-type: none;
    padding: 0;
  }
  
  .customer-item {
    margin-bottom: 20px;
  }
  
  .toggle-btn {
    background-color: palevioletred;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
  }
  
  .scrollable-details {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  button {
    margin-top: 10px;
    background-color: palevioletred;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
  }
  