/* customer.component.css */
.customer-panel {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align:left;
  justify-content: space-between;
}
.customer-list {
    list-style-type: none;
    border: 1px solid black;
    padding: 10px;
    
  }
  
  .customer-item {
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
    
  }
  
  .toggle-btn {
    background-color: palevioletred;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    display: block;
    
  }
  
  .scrollable-details {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  button {
    margin-top: 10px;
    background-color: palevioletred;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
  }

  .active-link {
    color: black;
    font-weight: bold;
  }
  
  